/* * { border: 1px solid red; } */
@font-face {
  font-family: 'Chicago';
  src: url(./font/ChicagoFLF.ttf);
}
/* body {
  background-color:red;
} */
body {
  font-family:'Chicago', sans-serif;
  background-image:url('./images/myImages/macintoshps.png');
  background-size:cover;
}

.container {
  width:100%;
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width:540px;
  background: #000000;
  margin: 100px auto 20px;
  padding: 30px 30px 25px;
  border-style: inset;

}
.todo-app h1 {
  color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size:1.1rem;
  letter-spacing: 1px;
}
.todo-app h1 img {
  width:30px;
  margin-left:10px;
}
small {
  color:white;
  font-size:0.8rem;
}
.row {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background:rgb(213, 213, 213);
  margin-bottom: 25px;
  margin-top:6px;
}
input {
  flex: 1;
  background:transparent;
  font-size:0.8rem;
}
button {
  background:grey;
  color:white;
  font-size: 16px;
  cursor: pointer;
}
ul li {
  list-style:none;
  font-size:0.9rem;
  padding-left: 40px;
  user-select:none;
  cursor:pointer;
  position:relative;
  color:white;
}
ul li::before {
  content:'';
  position:absolute;
  height: 15px;
  width: 15px;
  background-image: url(images/myImages/37514_checkbox_no_icon.png);
  background-size: cover;
  background-position:center;
  left:8px;
}
ul li.checked {
  color:#484848;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/myImages/37515_checkbox_gui_no_yes_icon.png);
}
ul li button {
  border:none;
  position:absolute;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  color: #555;
  background-color:transparent;
  text-align: center;
}
ul li button:hover {
  color:white;
}

/****** Screen reader text utility clsas *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}